
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/PROVA_C\#_POO.AssemblyInfo.cs
obj/Debug/net6.0/PROVA_C\#_POO.AssemblyInfoInputs.cache
obj/Debug/net6.0/PROVA_C\#_POO.assets.cache
obj/Debug/net6.0/PROVA_C\#_POO.GlobalUsings.g.cs
obj/Debug/net6.0/PROVA_C\#_POO.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/PROVA_C\#_POO.csproj.AssemblyReference.cache
.vs/PROVA_C\#_POO/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
bin/Debug/net6.0/PROVA_C\#_POO.deps.json
bin/Debug/net6.0/PROVA_C\#_POO.runtimeconfig.json
bin/Debug/net6.0/PROVA_C\#_POO.pdb
bin/Debug/net6.0/PROVA_C\#_POO.exe
bin/Debug/net6.0/PROVA_C\#_POO.dll
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/PROVA_C\#_POO.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/PROVA_C\#_POO.csproj.FileListAbsolute.txt
obj/Debug/net6.0/PROVA_C\#_POO.dll
obj/Debug/net6.0/PROVA_C\#_POO.genruntimeconfig.cache
obj/Debug/net6.0/PROVA_C\#_POO.pdb
obj/Debug/net6.0/ref/PROVA_C\#_POO.dll
obj/Debug/net6.0/refint/PROVA_C\#_POO.dll
obj/Release/net6.0/PROVA_C\#_POO.GlobalUsings.g.cs
obj/Release/net6.0/PROVA_C\#_POO.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/PROVA_C\#_POO.AssemblyInfoInputs.cache
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/PROVA_C\#_POO.AssemblyInfo.cs
obj/Release/net6.0/PROVA_C\#_POO.assets.cache
obj/Release/net6.0/PROVA_C\#_POO.csproj.AssemblyReference.cache
