
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/PROVA_C\#_POO.AssemblyInfo.cs
obj/Debug/net6.0/PROVA_C\#_POO.AssemblyInfoInputs.cache
obj/Debug/net6.0/PROVA_C\#_POO.assets.cache
obj/Debug/net6.0/PROVA_C\#_POO.GlobalUsings.g.cs
obj/Debug/net6.0/PROVA_C\#_POO.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/PROVA_C\#_POO.csproj.AssemblyReference.cache
